autopcr/http_server/config/*.json
__pycache__/
*.log
result/
cache/
clan_scanner.py
.DS_Store
_clan_iter.py
clan_scanner1.py
dismissed.json
clans/*
farm_config.json
table.csv
.vscode/
.idea/
autopcr/http_server/ClientApp/assets
autopcr/http_server/ClientApp/index.html
autopcr/http_server/client_version
# pixi environments
.pixi

.vscode/