msgpack~=1.0.2
pycryptodome~=3.14.1
requests~=2.27.1
quart>=0.14.1
pydantic~=1.10.5
Jinja2~=3.0.1
markupsafe~=2.0.1
UnityPy~=1.10.1
SQLAlchemy~=2.0.17
Pillow~=9.5.0
Brotli~=1.0.9
statsmodels~=0.14.0
redis~=5.0.1
quart_session~=3.0.0
