aiohttp==3.8.6
aiofile==3.9.0
bili_ticket_gt_python==0.2.7
msgpack==1.0.2
pycryptodome==3.14.1
requests==2.32.3
quart==0.19.1
pydantic==1.10.18
Jinja2==3.1.4
MarkupSafe==3.0.2
UnityPy==1.10.18
SQLAlchemy==2.0.36
Pillow==9.5.0
Brotli==1.0.9
quart_rate_limiter==0.9.0
quart_auth==0.9.1
quart-compress==0.2.1
dataclasses-json==0.6.7
PuLP==2.8.0
openpyxl~=3.1.5
networkx
