<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoPCR-主界面</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/Switch.css" />
    <script src="/static/js/iecheck.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .cart-area {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .config-section {
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .config-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .config-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0px 20px;
        }

        .config-info > .form-group {
            width: 256px;
            margin-bottom: 0px;
        }

        .button-group .btn {
            margin-top: 4px;
        }

        .copy-text {
            font-size: 8px;
            user-select: all;
            cursor: pointer;
            max-width: 520px;
            }

        #ta td:nth-child(5) {
            min-width: 150px;
        }

        .form-text-red {
            color: red;
        }
    </style>
</head>

<body>
    <main>
        <div class="cart-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div id="card" class="col-md-10">
                        <div class="config-section">
                            <div id="alertContainer" class="alert-container"></div>
                            <h3 class="config-header">配置信息：</h3>
                            <div class="config-info">
                                <div class="form-group">
                                    <label>一般配置：</label>
                                    <input type="text" class="form-control" id="alian" placeholder="昵称" />
                                    <input type="text" class="form-control" id="qq" placeholder="QQ号" style="margin-top: 10px;" />
                                </div>
                                <div class="form-group">
                                    <label>账号配置：</label>
                                    <input type="text" class="form-control" id="username" placeholder="PCR登录用户名" />
                                    <input type="text" class="form-control" id="password" placeholder="PCR登录密码" style="margin-top: 10px;" />
                                </div>
                            </div>
                            <small id="account-description" class="form-text form-text-red">注意：本服务需要存储您的用户名和密码以正常运行。若不同意存储，请勿使用。</small>
                            <div class="button-group" style="margin-top: 0px;">
                                <button type="button" class="btn btn-primary" id="login" onclick="update_new()">保存配置信息</button>
                                <button type="button" class="btn btn-primary" id="do_task" flag="run_once" onclick="do_task(this)">执行清日常</button>
                                <button type="button" class="btn btn-primary" id="tools" onclick="to_tools()"">实用查询</button>
                                <button type="button" class="btn btn-danger" id="delete_config" onclick="delete_config()">删除账号信息</button>
                            </div>
                            <div id="msg-group" style="margin-top: 4px; margin-bottom: 8px">
                                <small id="msg-description" class="form-text" style="display: none;">↓导入文本↓点击复制↓&ensp;<a href="https://pcredivewiki.tw/Armory" target="_blank">兰德索尔图书馆</a></small>
                                <div id="msg-input-group" class="input-group" style="margin-top: 2px; margin-bottom: 6px; display: none;">
                                    <input id="msg" type="text" class="form-control copy-text" value="value" readonly onclick="copyToClipboard()">
                                </div>
                            </div>
                            <div id="module">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <script type="text/javascript">
        var prompt = function (message, style, time) {
            style = style === undefined ? "alert-success" : style;
            time = time === undefined ? 3000 : time;

            var alertBox = $('<div class="alert" role="alert"></div>')
                .addClass(style)
                .text(message)
                .css({
                    position: "absolute",
                    "z-index": 99999,
                    });
            $('#alertContainer').append(alertBox);
            alertBox.hide().slideDown();
            setTimeout(function() {
                alertBox.slideUp(function() {
                $(this).remove();
                });
            }, time);

        };
        // 成功提示
        var success_prompt = function (message, time) {
            prompt(message, "alert-success", time);
        };

        // 失败提示
        var fail_prompt = function (message, time) {
            prompt(message, "alert-danger", time);
        };

        // 提醒
        var warning_prompt = function (message, time) {
            prompt(message, "alert-warning", time);
        };

        // 信息提示
        var info_prompt = function (message, time) {
            prompt(message, "alert-info", time);
        };

        // 信息提示
        var alert_prompt = function (message, time) {
            prompt(message, "alert-primary", time);
        };

        function suspend(str, message = "") {
            // document.scrollingElement.scrollTop = 0; //让页面滚动到最顶部
            switch (str) {
                case "alert-success":
                    success_prompt(message != "" ? message : "提交成功");
                    break;
                case "alert-warning":
                    warning_prompt(message != "" ? message : "错误警告");
                    break;
                case "alert-danger":
                    fail_prompt(message != "" ? message : "提交失败");
                    break;
                case "alert-info":
                    info_prompt(message != "" ? message : "未查询到数据");
                    break;
                case "alert-info2":
                    info_prompt(message != "" ? message : "未查询到数据");
                    break;
                default:
                    alert_prompt("未查询到数据");
            }
        }
    </script>

    <script type="text/javascript" charset="utf-8">
        
        var user_config = {}
        var share_key = {}

        $(document).ready(function () {
            $.ajax({
				url: "/daily/api/{{ url }}" + window.location.search,
                type: "get",
                processData: false,
                success: function (ret) {
                    let ta_tab = $("#module");
                    $("#alian").val(ret.alian);
                    $("#qq").val(ret.qq);
                    $("#username").val(ret.username);
                    $("#password").val(ret.password);
                    result = ret.last_result;
                    user_config = ret.config;
                    const data = ret.data;
					const module = ret.order;

                    for (let i = 0; i < module.length; ++i) {
                        let val = data[module[i]];

                        ta_tab.append(make_card(val)); //添加一列
                    }

                    for (let key in share_key){
                        if (share_key[key] > 1){
                            $(`[name=${key}]`).css({
                                'border-color': get_random_color(),
                                'border-width': "3px"
                            });
                        }
                    }

                    load_results(result);

                },
                error: function (ret) {
                    suspend("alert-danger", "获取配置失败");
                },
            });
        }
        );

        function get_single_html(config) {
            let res = `<select class="custom-select" id=${config.key} name=${config.key} onchange="selectOnChange(this)">`;
            for (let i = 0; i < config.candidates.length; i++) res += `<option value='${config.candidates[i]}' ${user_config[config.key] == config.candidates[i] ? "selected" : ""}>${config.candidates[i]}</option>`;
            res += "</select>";
            return res;
        }

        function get_bool_html(config) {
            return `<input type="checkbox" class="switch" ${user_config[config.key] ? 'checked="checked"' : ""} id=${config.key} name=${config.key} onclick="checkboxOnclick(this)" />`;
        }

        function get_int_html(config) {
            return `<input type="text" id=${config.key} name=${config.key} value=${user_config[config.key]} onchange="selectOnChange(this)" class="form-control" placeholder=${config.candidates[0]}-${config.candidates[config.candidates.length-1]}`;
        }

        function get_multi_html(config) {
            let res = `<select class="custom-select" multiple id=${config.key} name=${config.key} onchange="selectMultiOnChange(this)">`;
            for (let i = 0; i < config.candidates.length; i++) res += `<option value='${config.candidates[i]}' ${user_config[config.key].includes(config.candidates[i]) ? "selected" : ""}>${config.candidates[i]}</option>`;
            res += "</select>";
            return res;
        }
        function get_time_html(config) {
            return `<input type="time" class="form-control" id=${config.key} name=${config.key} value=${user_config[config.key]} onchange="selectOnChange(this)" />`;
        }

        function selectOnChange(e) {
            const key = e.id;
            let value = e.value;
            const intValue = parseInt(value)
            if (!isNaN(intValue))
                value = intValue;
            user_config[key] = value;
            $(`[name=${key}]`).val(value);
            update_new();
        }

        function selectMultiOnChange(e) {
            const key = e.id;
            let value = Array.from(e.selectedOptions).map(option => option.value);
            const intValue = value.map(option => parseInt(option))
            if (intValue.length != 0 && !isNaN(intValue[0]))
                value = intValue;
            user_config[key] = value;
            update_new();
        }

        function checkboxOnclick(checkbox) {
            const key = checkbox.id;
            const value = checkbox.checked;
            user_config[key] = value;
            update_new();
        }

        function generate_option_HTML(config){
            
          switch (config.config_type) {
            case 'single':
                return get_single_html(config)
                break;

            case 'multi':
                return get_multi_html(config)
                break;

            case 'int':
                return get_int_html(config)
                break;

            case 'bool':
                return get_bool_html(config)
                break;

            case 'time':
                return get_time_html(config)
                break;

            }
        }

        function generate_config_HTML(config){
            share_key[config.key] = (share_key[config.key] || 0) + 1;
            let configHTML = '';
            configHTML += `
                <div class="mb-3" name=${config.key}_card>
                  <h6>${config.desc}</h6>
                  ${generate_option_HTML(config)}
                </div>
              `;
            return configHTML;
        }

        function make_card(m) {

            let functionHTML = `
                  <div id=card_${m.key} class="card">
                    <div class="card-header">
                      <h5 class="mb-0" > <input type="checkbox" class="switch" ${user_config[m.key] ? 'checked="checked"' : ""} id=${m.key} name=${m.key} onclick="checkboxOnclick(this)"  data-bs-toggle="collapse" data-bs-target="#${m.key}_config" /> ${m.name} 
					<button type="button" id=${m.key}_do_single name=${m.key} flag="run_once" class="btn btn-secondary" onclick="do_single(this)">单项执行</button>
				</h5>
                    </div>
            `;
        if (m.description.length !== 0){
            functionHTML += `
                <div class="card-body">
                      ${m.description}
                </div>
              `
        }

        if (Object.keys(m.config).length !== 0){
            functionHTML += `<div role="ul" class="list-group list-group-flush collapse ${user_config[m.key] ? 'show' : ''}" id=${m.key}_config } >`
            for (const key in m.config) {
                functionHTML += "<li class='list-group-item'>";
                functionHTML += generate_config_HTML(m.config[key]);
                functionHTML += "</li>";
            }
            functionHTML += "</div>"
        }

            functionHTML += `
                <div class="card-footer" id=${m.key}_result>
                    无执行结果
                </div>
                    </div>
            `;

            return functionHTML;

        }

		function load_result(ret, key){
			$(`#${key}_result`).html(ret[key]["log"].replace(/\n/g, '<br>'))
			$(`#${key}_result`).css("background-color", status_color(ret[key]['status']));
		}

        function load_results(ret) {
            for (key in ret) {
				load_result(ret, key);
            }
        }

        function do_single(e) {
			const flag = e.getAttribute('flag');
			$(`[flag=${flag}]`).attr('disabled', true);
            suspend("alert-info", "已开始执行任务。");
            let config = {
                config: user_config,
                order: [e.name]
            }
            $.ajax({
                url: '/daily/api/do_single' + window.location.search,
                type: 'post',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(config),
                success: function (ret) {
					load_results(ret.result);
					$(`[flag=${flag}]`).attr('disabled', false);
                    suspend("alert-success", "任务执行成功！");
                },
                error: function (ret) {
                    suspend("alert-danger", "执行任务失败: " + ret.responseText);
					$(`[flag=${flag}]`).attr('disabled', false);
                }
            })
        }

        function library_import() {
            $("#library_import").attr('disabled', true);
            suspend("alert-info", "已开始执行任务。");
            let config = {
                config: {},
                order: ["get_library_import_data"]
            }
            $.ajax({
                url: '/daily/api/do_single' + window.location.search,
                type: 'post',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(config),
                success: function (ret) {
                    $("#msg").attr('value', ret["result"]["get_library_import_data"]['log'])
                    $("#msg-group").css('margin-top', '0');
                    $("#msg-description").css('display', '');
                    $("#msg-input-group").css('display', '');
                    $("#library_import").attr('disabled', false);
                    suspend("alert-success", "任务执行成功！");
                },
                error: function (ret) {
                    suspend("alert-danger", "执行任务失败: " + ret.responseText);
                    $("#library_import").attr('disabled', false);
                }
            })
        }

        function do_task(e) {
			const flag = e.getAttribute('flag');
			$(`[flag=${flag}]`).attr('disabled', true);
            suspend("alert-info", "已开始执行清日常任务。");
            $.ajax({
                url: '/daily/api/do_task' + window.location.search,
                type: 'get',
                processData: false,
                success: function (ret) {
                    // <!-- prompt(JSON.stringify(ret), "alert-success", 60000); -->
                    suspend("alert-success", "清日常任务执行完毕。");
					$(`[flag=${flag}]`).attr('disabled', false);
                    load_results(ret['result']);
                },
                error: function (ret) {
                    suspend("alert-danger", "执行任务失败: " + ret.responseText);
					$(`[flag=${flag}]`).attr('disabled', false);
                }
            })
        }

			function delete_config() {

				var confirmed = confirm('确定要删除该账号？该操作不可撤销！');

				if (confirmed){
					$("#delete_config").attr('disabled', true);
					suspend("alert-info", "已开始执行任务。");
					$.ajax({
						url: '/daily/api/config' + window.location.search,
						type: 'delete',
						processData: false,
						success: function (ret) {
							suspend("alert-success", "删除账号成功！");
							window.location.href = "/daily/";
						},
						error: function (ret) {
							suspend("alert-danger", "删除账号失败: " + ret.responseText);
							$("#delete_config").attr('disabled', false);
						}
					})
				}
			}

		function update_new() {
            let config = {}; // 可以用referrer解决问题
            id = 1;
            config['alian'] = $("#alian").val();
            config['qq'] = $("#qq").val();
            config['username'] = $("#username").val();
            config['password'] = $("#password").val();
            config['config'] = user_config;

            $.ajax({
				url: "/daily/api/{{ url }}" + window.location.search,
                type: "put",
                data: JSON.stringify(config),
                contentType: "application/json;charset=utf-8",
                processData: false,
                success: function (ret) {
                    if (ret.statusCode == 200) {
                        suspend("alert-success", ret.message);
                    } else {
                        alert("本次修改保存失败：" + ret.message + "\n如有需要，请联系管理员\n点击确定将为您刷新页面");
                        location.reload(true);
                    }
                },
                error: function (ret) {
                    suspend("alert-danger", "本次修改保存失败");
                },
            });
        }

        function get_random_color() {
          const letters = "0123456789ABCDEF";
          let color = "#";

          for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
          }

          return color;
        }

         function status_color(status){
             switch (status){
             case "success":
                return "#e1ffb5";
                 break;
             case "skip":
                return "#c8d6fa";
                 break;
             case "abort":
                return "#FFFF00";
                 break;
             case "error":
                 return "#FFFFFF";
                 break;
             }
         }

		function to_tools(){
			var currentURL = window.location.href;
			var targetURL = '/daily/tools.html';
			var urlWithParams = targetURL + '?' + currentURL.split('?')[1];
			window.location.href = urlWithParams;
		}

    </script>
    <script>
        function copyToClipboard() {
        var copyText = document.getElementById("msg");
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* 兼容移动设备 */
        document.execCommand("copy");
        suspend("alert-success", "内容已复制到剪贴板！");
        }
    </script>
</body>

</html>
