<!DOCTYPE html>
<html data-bs-theme="auto" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AutoPCR</title>
    <script>
        (function() {
            // JavaScript snippet handling Dark/Light mode switching
            const getStoredTheme = () => localStorage.getItem('theme');
            const setStoredTheme = theme => localStorage.setItem('theme', theme);
            const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');
            const getPreferredTheme = () => {
                if (forcedTheme) return forcedTheme;
                const storedTheme = getStoredTheme();
                if (storedTheme) {
                    return storedTheme;
                }
                const pageTheme = document.documentElement.getAttribute('data-bs-theme');
                if (pageTheme) {
                    return pageTheme;
                }
                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }
            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme);
                }
            }
            setTheme(getPreferredTheme());
            const showActiveTheme = (theme, focus = false) => {
                const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));
                if (!themeSwitchers.length) return;
                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active');
                    element.setAttribute('aria-pressed', 'false');
                });
                for (const themeSwitcher of themeSwitchers) {
                    const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');
                    if (btnToActivate) {
                        btnToActivate.classList.add('active');
                        btnToActivate.setAttribute('aria-pressed', 'true');
                    }
                }
            }
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme();
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme());
                }
            });
            window.addEventListener('DOMContentLoaded', () => {
                showActiveTheme(getPreferredTheme());
                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', (e) => {
                            e.preventDefault();
                            const theme = toggle.getAttribute('data-bs-theme-value');
                            setStoredTheme(theme);
                            setTheme(theme);
                            showActiveTheme(theme);
                        })
                    })
            });
        })();
    </script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Roboto.css">
    <link rel="stylesheet" href="assets/css/Roboto%20Slab.css">
    <link rel="stylesheet" href="assets/css/config.css">
</head>
<body>
    <div class="container-fluid mx-auto">
        <div class="row py-3">
            <div class="col-12 col-lg-8 m-auto">
                <div id="card-main" class="card" style="box-shadow: 0px 0px 10px var(--bs-tertiary-color);max-height: calc(100vh - 2rem)!important;">
                    <div class="hstack card-header" style="font-weight: bold;border-bottom-style: none;">
                        <h4 class="mb-0" style="font-weight: bold;border-bottom-style: none;">AutoPCR</h4>
                        <div class="theme-switcher dropdown ms-auto"><button id="themeDropdown" class="btn btn-link dropdown-toggle ms-auto" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="color: var(--bs-body-color);"><svg class="bi bi-sun-fill mb-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                                </svg></button>
                            <div class="dropdown-menu" aria-labelledby="themeDropdown">
                                <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="light">
                                    <svg class="bi bi-sun-fill opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
                                    </svg>Light</a>
                                <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark">
                                    <svg class="bi bi-moon-stars-fill opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                                        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
                                    </svg>Dark</a>
                                <a class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="auto"><svg class="bi bi-circle-half opacity-50 me-2" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
                                    </svg>Auto</a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-main">
                        <ul class="nav nav-tabs card-header" role="tablist" id="tab-items" style="padding-top: 0;padding-bottom: 0;">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">账号配置</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">清日常及配置</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">实用信息</a></li>
                        </ul>
                        <div id="main-tab-content" class="tab-content card-body">
                            <div class="tab-pane fade show active" role="tabpanel" id="tab-1">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="hstack gap-2 flex-wrap">
                                            <form id="form-normal-config">
                                                <label class="form-label">一般配置：</label>
                                                <input class="form-control" type="text" data-bs-toggle="tooltip" data-bss-tooltip="" id="input-alian" placeholder="昵称" title="昵称"><input class="form-control mt-1" type="text" data-bs-toggle="tooltip" data-bss-tooltip="" id="input-qqnum" placeholder="QQ号" inputmode="numeric" oninput="value=value.replace(/\D/g,&#39;&#39;)" title="QQ号">
                                            </form>
                                            <form id="form-account-config">
                                                <label class="form-label">账号配置：</label>
                                                <input class="form-control" type="text" data-bs-toggle="tooltip" data-bss-tooltip="" id="input-uname" placeholder="PCR登录用户名" title="PCR登录用户名"><input class="form-control mt-1" type="text" data-bs-toggle="tooltip" data-bss-tooltip="" id="input-upwd" placeholder="PCR登录密码" title="PCR登录密码">
                                            </form>
										</div><small style="font-size: 13px;color: #ff0000;">注意：本服务需要存储您的用户名和密码以正常运行。若不同意存储，请勿使用。</small><br/>
                                        <small style="font-size: 13px;color: #ff0000;">除昵称外，其他结果不会回显，如需修改，则需都要填写。</small>
                                        <form class="d-flex gap-1">
                                            <button class="btn btn-primary" id="btn-save" type="button" onclick="update_info()">
                                                <span class="spinner-border spinner-border-sm visually-hidden" aria-hidden="true" style="margin-right: 4px;"></span>
                                                保存信息</button>
                                            <button class="btn btn-primary" id="btn-reset" type="button" onclick="reset_config_form()">
                                                <span class="spinner-border spinner-border-sm visually-hidden" aria-hidden="true" style="margin-right: 4px;"></span>
                                                重置表单</button>
                                            <button id="delete_config" class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#modal-1">
                                                <span class="spinner-border spinner-border-sm visually-hidden" aria-hidden="true" style="margin-right: 4px;"></span>
                                                删除账号信息</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="tab-2">
                                <iframe id="iframe-action" src="" style="width: 100%;border: none;"></iframe>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="tab-3">
                                <iframe id="iframe-info" src="" style="width: 100%;border: none;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                    <div id="toast-container-1" class="toast-container p-1 top-0 end-0"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">确认删除？</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>即将从服务器上彻底删除该账号及所有相关信息。<br>此操作不可逆。</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">取消</button>
                    <button class="btn btn-danger" type="button" data-bs-dismiss="modal" onclick="delete_config()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/iecheck.js"></script>
    <script>var jinjaUrlConfig = "{{ url }}";</script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/config.js"></script>
</body>
</html>
