<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoPCR-主界面</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/Switch.css" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .cart-area {
            margin-top: 100px;
        }

        .config-section {
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .config-header {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .config-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0px 20px;
        }

        .config-info > .form-group {
            width: 256px;
            margin-bottom: 0px
        }

        .button-group .btn {
            margin-top: 4px;
        }

        .result-msg {
            margin-top: 20px;
            word-wrap: break-word;
        }

        #ta td:nth-child(5) {
            min-width: 150px;
        }

        .form-text-red {
            color: red;
        }
    </style>
</head>

<body>
    <main>
        <div class="cart-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="config-section">
                            <h3 class="config-header">配置信息：</h3>
                            <div class="config-info">
                                <div class="form-group">
                                    <label>一般配置：</label>
                                    <input type="text" class="form-control" id="alian" placeholder="昵称" />
                                    <input type="text" class="form-control" id="qq" placeholder="QQ号" style="margin-top: 10px;" />
                                </div>
                                <div class="form-group">
                                    <label>账号配置：</label>
                                    <input type="text" class="form-control" id="username" placeholder="PCR登录用户名" />
                                    <input type="text" class="form-control" id="password" placeholder="PCR登录密码" style="margin-top: 10px;" />
                                </div>
                            </div>
                            <small id="account-description" class="form-text form-text-red">本插件仅存储AccessKey，不会存储密码。</small>
                            <div class="button-group" style="margin-top: 4px;">
                                <button type="button" class="btn btn-primary" id="login" onclick="selectOnChange()">保存配置信息</button>
                                <button type="button" class="btn btn-primary" id="do_task" onclick="do_task()">执行清日常</button>
                                <button type="button" class="btn btn-primary" id="library_import" onclick="library_import()">兰德索尔图书馆导入文本</button>
                            </div>
                            <div class="container">
                                <div id="msg" class="result-msg"></div>
                            </div>
                            <div class="table-responsive">
                                <table id="tab" class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="padding: 0px"></th>
                                            <th style="max-width: 120px;">设置项</th>
                                            <th style="max-width: 120px;">值</th>
                                            <th style="max-width: 120px;">说明</th>
                                            <th style="min-width: 300px;">结果</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ta">
                                        <tr>
                                            <td></td>
                                            <td>自动执行时间1</td>
                                            <td>
                                                    <input type="checkbox" class="switch" id="time1open" onchange="selectOnChange(this)" />
                                                    <input type="time" class="form-control" id="time1" onchange="selectOnChange(this)" />
                                            </td>
                                            <td>会战期间照常执行</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>自动执行时间2</td>
                                            <td>
                                                    <input type="checkbox" class="switch" id="time2open" onchange="selectOnChange(this)" />
                                                    <input type="time" class="form-control" id="time2" onchange="selectOnChange(this)" />
                                            </td>
                                            <td>会战期间不执行</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

    <script type="text/javascript">
        tt = "10px";
        $(function () {
            $(window).scroll(function () {
                tt = $(window).scrollTop() + 10 + "px";
            });
        });
        var prompt = function (message, style, time) {
            style = style === undefined ? "alert-success" : style;
            time = time === undefined ? 1200 : time;
            $('<div id="promptModal">')
                .appendTo("body")
                .addClass("alert " + style)
                .css({
                    display: "block",
                    "z-index": 99999,
                    width: "75%",
                    left: ($(document.body).outerWidth(true) - 120) / 8,
                    top: tt,
                    position: "absolute",
                    padding: "20px",
                    "border-radius": "5px",
                })
                .html(message)
                .hide()
                .fadeIn(200, function () {
                    $("#promptModal").show();
                })
                .delay(time)
                .fadeOut(200, function () {
                    $("#promptModal").remove();
                });
        };
        // 成功提示
        var success_prompt = function (message, time) {
            prompt(message, "alert-success", time);
        };

        // 失败提示
        var fail_prompt = function (message, time) {
            prompt(message, "alert-danger", time);
        };

        // 提醒
        var warning_prompt = function (message, time) {
            prompt(message, "alert-warning", time);
        };

        // 信息提示
        var info_prompt = function (message, time) {
            prompt(message, "alert-info", time);
        };

        // 信息提示
        var alert_prompt = function (message, time) {
            prompt(message, "alert-primary", time);
        };

        function suspend(str, message = "") {
            // document.scrollingElement.scrollTop = 0; //让页面滚动到最顶部
            switch (str) {
                case "alert-success":
                    success_prompt(message != "" ? message : "提交成功");
                    break;
                case "alert-warning":
                    warning_prompt(message != "" ? message : "错误警告");
                    break;
                case "alert-danger":
                    fail_prompt(message != "" ? message : "提交失败");
                    break;
                case "alert-info":
                    info_prompt(message != "" ? message : "未查询到数据");
                    break;
                case "alert-info2":
                    info_prompt(message != "" ? message : "未查询到数据");
                    break;
                default:
                    alert_prompt("未查询到数据");
            }
        }
    </script>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $.ajax({
                url: "/daily/api/config" + window.location.search,
                type: "get",
                processData: false,
                success: function (ret) {
                    cnt = 0;
                    let ta_tab = $("#ta");
                    $("#alian").val(ret.alian);
                    $("#qq").val(ret.qq);
                    $("#username").val(ret.username);
                    $("#password").val(ret.password);
                    $("#time1open").prop("checked",ret.time1open);
                    $("#time2open").prop("checked",ret.time2open);
                    $("#time1").val(ret.time1);
                    $("#time2").val(ret.time2);
                    res = ret.last_result;
                    ret = ret.data;
                    for (let i = 0; i < ret.length; ++i) {
                        let val = ret[i];
                        cnt += 1;
                        name = val.name;
                        item = val.value;
                        ta_tab.append(`<tr id="tr_${name}"></tr>`); //添加一列
                        let tab = $(`#tr_${name}`); //把这一列的内容添加上
                        tab.append(`<td>${item["implemented"] ? "" : "未实装"}</td>`);
                        tab.append(`<td id='name${cnt}'>${name}</td>`);

                        now_config = item["value"];
                        typ = item["type"];
                        if (typ == "bool") tab.append(`<td>${get_bool_text(cnt, now_config, name, item.name)}</td>`);
                        else tab.append(`<td id='enum_${name}'>${get_enum_text(cnt, now_config, item["candidate_value"])}</td>`);

                        tab.append(`<td id='description_${name}'>${item["description"].replace(/\n/g, '<br>')}</td>`);
                        tab.append(`<td id='result_${name}'></td>`);
                    }
                    load_result(res);
                },
                error: function (ret) {
                    suspend("alert-danger", "获取配置失败");
                },
            });
        }
        );
        
        function load_result(ret) {
            for (id in ret) {
                let name = ret[id]['name']
                $(`#result_${name}`).html(ret[id]["msg"].replace(/\n/g, '<br>'))
            }
        }

        function library_import() {
            $("#library_import").attr('disabled', true);
            $.ajax({
                url: '/daily/api/library_import' + window.location.search,
                type: 'get',
                processData: false,
                success: function (ret) {
                    $("#msg").text(ret)
                    $("#library_import").attr('disabled', false);
                },
                error: function (ret) {
                    suspend("alert-danger", "执行任务失败: " + ret.responseText);
                    $("#library_import").attr('disabled', false);
                }
            })
        }

        function do_task() {
            $("#do_task").attr('disabled', true);
            $.ajax({
                url: '/daily/api/do_task' + window.location.search,
                type: 'get',
                processData: false,
                success: function (ret) {
                    // <!-- prompt(JSON.stringify(ret), "alert-success", 60000); -->
                    $("#do_task").attr('disabled', false);
                    load_result(ret);
                },
                error: function (ret) {
                    suspend("alert-danger", "执行任务失败: " + ret.responseText);
                    $("#do_task").attr('disabled', false);
                }
            })
        }

        function selectOnChange() {
            update_new();
        }

        function checkboxOnclick(checkbox) {
            if (checkbox.checked) {
                $(`[name=${checkbox.name}]`).each(function () {
                    $(this)[0].checked = false;
                });
                $(`#${checkbox.id}`)[0].checked = true;
            }
            update_new();
        }

        function get_enum_text(id, value, branchs) {
            let res = `<select class="custom-select" id=enum${id} onchange="selectOnChange(this)">`;
            for (let i = 0; i < branchs.length; i++) res += `<option value='select${i}' ${value == branchs[i] ? "selected" : ""}>${branchs[i]}</option>`;
            res += "</select>";
            return res;
        }
        function get_bool_text(cnt, value, name, clas) {
            return `<input type="checkbox" class="switch" ${value ? 'checked="checked"' : ""} id='bool${cnt}_${name}' name=${clas ? clas : cnt} onclick="checkboxOnclick(this)" />`;
        }

        function update_new() {
            let config = {}; // 可以用referrer解决问题
            id = 1;
            config['alian'] = $("#alian").val();
            config['qq'] = $("#qq").val();
            config['username'] = $("#username").val();
            config['password'] = $("#password").val();
            config['time1'] = $("#time1").val();
            config['time2'] = $("#time2").val();
            config['time1open'] = $("#time1open").prop('checked')
            config['time2open'] = $("#time2open").prop('checked')

            while ($(`#name${id}`).length) {
                config[$(`#name${id}`).text()] = ($(`#enum${id} option:selected`).length ? $(`#enum${id} option:selected`).text() : $(`[id^=bool${id}]`)[0].checked);
                id += 1;
            }
            $.ajax({
                url: "/daily/api/config" + window.location.search,
                type: "put",
                data: JSON.stringify(config),
                contentType: "application/json;charset=utf-8",
                processData: false,
                success: function (ret) {
                    if (ret.statusCode == 200) {
                        suspend("alert-success", ret.message);
                    } else {
                        alert("本次修改保存失败：" + ret.message + "\n如有需要，请联系管理员\n点击确定将为您刷新页面");
                        location.reload(true);
                    }
                },
                error: function (ret) {
                    suspend("alert-danger", "本次修改保存失败");
                },
            });
        }
    </script>
</body>

</html>
